# Core framework
streamlit

# Data science
pandas
numpy
scikit-learn
joblib

# Machine Learning Models
prophet
xgboost
lightgbm
randomforest

# Visualization
plotly
matplotlib
kaleido

# PDF Export
reportlab
